<div class="row clearfix">
	<% if tarefa.completed? %>
		<div class="complete">
			<%= link_to complete_projeto_tarefa_path(@projeto, tarefa.id), method: :patch do %>
				<i style="opacity: 0.4;" class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="todo_item">
			<p style="opacity: 0.4;"><strike><%= tarefa.content %></strike></p>
		</div>
		<div class="trash">
			<%= link_to "Delete", projeto_tarefa_path(@projeto, tarefa.id), method: :delete, data: {confirm: "Are you sure?"} do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% else %>
		<div class="complete">
			<%= link_to complete_projeto_tarefa_path(@projeto, tarefa.id), method: :patch do %>
				<i class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="task">
			<p style="opacity: 0.4;"><strike><%= tarefa.content %></strike></p>
		</div>
		<div class="trash">
			<%= link_to "Delete", projeto_tarefa_path(@projeto, tarefa.id), method: :delete, data: {confirm: "Are you sure?"} do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% end %>
</div>