<p id="notice"><%= notice %></p>

<h2 class="todo_list_title"><%= @projeto.title %></h2>
<p class="todo_list_sub_title"><%= @projeto.description %></p>

<div id="todo_items_wrapper">
	<%= render @projeto.tarefas %>
	<div id="form">
		<%= render "tarefas/form" %>
	</div>
</div>

<div class="links">
	<%= link_to 'Edit', edit_projeto_path(@projeto) %> |
	<%= link_to 'Back', projetos_path %> |
	<%= link_to 'Delete', projeto_path(@projeto), method: :delete, data: { confirm: "Are you sure?"} %>
</div>